
body { font-size: 16px;
  background-color: #e7e3d4;
  color: #194821;
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  font-weight: 300; }

  .footer{
    background-color: #1e1c18;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #a8a1a1;
    padding-left: 30px;

  }
  
  .underline{
    text-decoration: underline;
    font-size: 1.25em;
  }
.areasofneed img{ 
width: 100%;
}

p{

  text-indent:20px;
}

.nobullets{
  list-style: none;
  margin-top: 30px; 
}

.nobullets a{

  color: #194821;
}




/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
